.heroes{
    color: gray;
}

h2 {
    color: green;
}

li {
    min-width: 300px;
    width: fit-content;
    border: 1px black solid;
    margin: auto;
}

li label {
    float: left;
    color: green;
}

.badge {
    float: right;
    color: green;
}